# .env.example

# Current Date and Time (UTC)
CURRENT_DATE_TIME="2026-02-28 23:03:14"

# Add your environment variables below
# Example:
# DATABASE_URL="your_database_url"
# SECRET_KEY="your_secret_key"
